/NodeJsWebApplication/nbproject/private/
/JavaModularApplication1/nbproject/private/
/JavaFXApplication1/nbproject/private/
/OlaMundoJavaFX/nbproject/private/
/JavaFXApplication1/build/
/OlaMundoJavaFX/dist/
/OlaMundoJavaFX/build/
/OlaMundoSwing/dist/
/RelogioSwing/nbproject/private/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/SomaSwing/dist/
